@{
  Layout = "_Layout";
}
<h1>Enter a Place You've Been Here</h1>
<form action="/places" method="post">
  <div class="form-group">
    <label for="cityName">City Name</label>
    <input id="cityName" name="cityName" type="text" required>
  </div>
  <div class="form-group">
    <label for="stayLength">Days Stayed</label>
    <input id="stayLength" name="stayLength" type="number">
  </div>
  <div class="form-group">
    <label for="journalEntry">Journal Entry</label>
    <textarea name="journalEntry" id="journalEntry" type="text" cols="30" rows="10"></textarea>
  </div>
  <button type="submit">Add</button>
</form>
<div class="footer">
  <a href="/places">Return to Home</a>
</div>